<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h1>Chat with: </h1>
    <ul>
        {% for room in rooms %}
        <li><a href="{% url 'room' room.name %}">{{room.name}}</a></li>
        {% endfor %}
    </ul>
    What chat room would like to enter? <br>
    <input type="text" id="room-name-input" size="100">
    <input type="button" id="room-name-submit" value="Enter">

    <script>
        document.querySelector("#room-name-input").focus();
        document.querySelector("#room-name-input").onkeyup = function(e){
            if (e.keyCode === 13) {
                // if enter/return is pressed
                document.querySelector("#room-name-submit").click();
            }
        };
        document.querySelector("#room-name-submit").onclick = function(e){
            var roomName = document.querySelector("#room-name-input").value;
            window.location.pathname = '/chat/'+roomName+'/';
        }
    </script>

</body>
</html>